<h1>Welcome to Chez Jeanette</h1>


  <h3>Our Stylists:</h3>
  <ul>
    <% @stylists.each() do |stylist| %>
      <li><a href="/stylist/<%= stylist.id() %>"><%= stylist.name() %></a></li>
    <% end %>
  </ul>



<h3>Add Stylist:</h3>

<form action="/add_stylist" method="post">
  <div class="form-group">
    <label for="name">Name:</label>
    <input id="name" name="name" type="text">

    <button type="submit">Add Stylist</button>
  </div>
</form>
